body {
  font-family: "Lato", sans-serif;
}

#main {
  position: relative;
}

#burger-icon {
  position: absolute;
  font-size:30px;
  cursor:pointer;
}

.grey-text {
  color: #aaaaaa;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.category-text {
  color: #ff7979;
  font-weight: bolder;
  padding: 10px 0px 10px 10px;
}

.status-text-blue {
  color: #54a0ff;
  font-weight: bolder;
  padding: 10px 10px 10px 0px;
}

.status-text-orange {
  color: #ff9f43;
  font-weight: bolder;
  padding: 10px 10px 10px 0px;
}

.status-text-red {
  color: #ff7979;
  font-weight: bolder;
  padding: 10px 10px 10px 0px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-body {
  padding: 10px 40px 10px 40px;
}

table {
  counter-reset: -1;
}

table tr {
  counter-increment: no;
}

table tr td:first-child:before {
  content: counter(no);
}

table thead th {
  text-align: center;
}

.tooltip { pointer-events: none; }
