body {
  font-family: "Lato", sans-serif;
}

#main {
  position: relative;
}

#burger-icon {
  position: absolute;
  font-size:30px;
  cursor:pointer;
}

.content-body {
  padding: 10px 40px 10px 40px;
}

table {
  counter-reset: -1;
}

table tr {
  counter-increment: no;
}

table tr td:first-child:before {
  content: counter(no);
}

table thead th {
  text-align: center;
}

.tooltip { pointer-events: none; }
